body{
    background-image: url("/static/images/cropped-book-background-body.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;

}

/*GLOBAL*/
.spacer-100 {
    margin-top: 100px;
}

.spacer-50 {
    margin-top: 50px;
}

.spacer-25 {
    margin-top: 25px;

}

.spacer-20 {
    margin-top: 20px;

}

.spacer-10 {
    margin-top: 10px;
}


.spacer-75 {
    margin-top: 75px;
}

.spacer-5 {
    margin-top: 5px;
}

.neg-spacer-10 {
    margin-top: -10px;
}

.neg-spacer-20 {
    margin-top: -20px;
}

.neg-spacer-25 {
    margin-top: -25px;
}

.spacer-left-10 {
    margin-left: 10px;
}

.spacer-left-25 {
    margin-left: 25px;
}

.spacer-right-25 {
    margin-right: 25px;
}

.spacer-20-border {
    margin: 20px 0;
    border-top: 1px solid #282828
}

.center {
    display: block;
    margin: 0 auto;
}

.round-corner-3 {
    border-radius: 3px;
}

.round-corner-10 {
    border-radius: 10px;
}

.padding-10 {
    padding: 100px;
}

.padding-left-20 {
    padding-left: 20px;
}
.padding-left-30{
    padding-left: 30px;
}

.padding-right-25 {
    padding-right: 25px;
}

/*BACKGROUND COLOR*/
.bg-f8f8f8 {
    background: #f8f8f8;
}

/*BORDER COLOR*/


/*TEXT STYLES*/
.text-white {
    color: white;
}

.text-grey-333 {
    color: #333333;
}

.text-grey-867A6E {
    color: #867A6E;
}
.text-grey-bdbdbd {
    color: #bdbdbd;
}

.text-light-blue {
    color: #4B92DB;
}

.text-115em {
    text-size: 1.15em;
}

/*BOOTSTRAP OVERRIDE*/
.navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
}

.thumbnail {
    height: 320px;
}

.menu-link a.hover {
    text-decoration: none;
}

/*CUSTOM STYLES*/
.ft-thumb {
    height: 345px;
}

.fa-navitem {
    margin-right: 5px;
}

.jumbotron-img {
    background-image: url("/static/images/cropped-book-background-body.png");

}

.btn-full {
    width: 100%;
}

.btn-wide {
    padding: 10px 35px;
}

.mainSBLink {
    font-size: 1.2em;
    font-weight: 600;
}


/*LOGICAL STYLES*/
.attendingInd {
    position: absolute;
    top: 20px;
    right: 40px;

}

/*MEDIA QUERIES*/
@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }

    .navbar-nav > li {
        float: left;
        margin-right: 10px;
    }

    .navbar-nav {
        margin-left: 90px;
    }

    .navbar-inverse .navbar-brand {
        font-size: 1.7em;
    }
}
